name: Install test

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install required packages
        run: |
          ./installCommands.sh basename bash curl date echo env gh git google-chrome-stable \
            grep gzip head ia jq kill mktemp mv node npm pipx rm shuf tail
      - name: Run main
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "TODO: Other steps"
          ia --version