name: Install test

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install required packages
        run: |
          #!/usr/bin/env bash
          set -euo pipefail
          
          install_commands() {
            local MISSING=()
            local HAS_NPM=0
            for CMD in "$@"; do
              if [ "$CMD" == "npm" ]; then
                HAS_NPM=1
              fi
              if ! command -v "$CMD" &>/dev/null; then
                MISSING+=("$CMD")
              fi
            done
            if [ ${#MISSING[@]} -eq 0 ]; then
              echo "All commands are already installed."
              return 0
            fi
          
            local -A PACKAGES=()
            for CMD in "${MISSING[@]}"; do
              case "$CMD" in
                basename|date|echo|env|head|mv|shuf|tail)
                  PACKAGES["coreutils"]=1
                  ;;
                kill)
                  PACKAGES["procps"]=1
                  ;;
                node)
                  PACKAGES["nodejs"]=1
                  ;;
                *)
                  PACKAGES["$CMD"]=1
                  ;;
              esac
            done
            
            echo "Packages to be installed: ${!PACKAGES[*]}"
            local TMP_FILE=""
            if [[ -n "${PACKAGES[google-chrome-stable]:-}" ]]; then
              echo "Downloading Google Chrome deb package..."
              TMP_FILE=$(mktemp --suffix=.deb)
              curl -fL -o "$TMP_FILE" https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
              unset PACKAGES["google-chrome-stable"]
              PACKAGES["$TMP_FILE"]=1
            fi
            local HAD_IA=0
            if [[ -n "${PACKAGES[ia]:-}" ]]; then
              HAD_IA=1
              unset PACKAGES["ia"]
            fi
            if [ ${#PACKAGES[@]} -gt 0 ]; then
              echo "Updating apt..."
              sudo apt update
          
              echo "Installing missing packages..."
              sudo apt install -y "${!PACKAGES[@]}"
            fi
            if [[ -f "$TMP_FILE" ]]; then
              rm -rf "$TMP_FILE"
            fi
            if [ $HAD_IA -eq 1 ]; then
              echo "Installing Internet Archive CLI..."
              sudo python3 -m pip install --upgrade internetarchive
            fi
            if [ $HAS_NPM -eq 1 ]; then
              echo "Installing npm packages..."
              npm install
            fi
          }
          
          install_commands basename bash curl date echo env gh git google-chrome-stable grep gzip head ia jq kill mktemp mv node npm shuf tail
      - name: Run main
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "TODO: Other steps"
          ia --version
